<div class="container">
  <div class="floating-container">
    <%= image_tag "articus-logo-green.png", class: "img" %>
    <h3>Our website is coming soon.</h3>
    <p>Articus Finance is a London based mortgage broker that specialises in securing the best mortgage deals for wealthy individuals. From residential property to buy to let portfolios, our mortgage brokers are highly experienced in negotiating the best mortgages and mortgage rates, regardless of the complexity of your situation.</p>
    <div class="form-container">
      <%= simple_form_for @contact_form_submission do |f| %>
        <%= f.input :first_name %>
        <%= f.input :last_name %>
        <%= f.input :email %>
        <%= f.input :phone_number %>
        <%= f.input :message %>
        <%= f.submit 'send' %>
      <% end %>
    </div>
  </div>
</div>
