<h2>New form submission:</h2>
<hr>
<p>First name: <%= @contact_form_submission.first_name %></p>
<p>Last name: <%= @contact_form_submission.last_name %></p>

<p>Email: <%= @contact_form_submission.email %></p>
<p>Phone: <%= @contact_form_submission.phone_number %></p>

<p>Message: <%= @contact_form_submission.message %></p>
<hr>
